{% extends 'web/base.html' %}
{% block content %}
<body>
<h1>Админ панель для книг</h1>
    <nav>
        <h2> <form action="/sort-book" method="post">
         {% csrf_token %}
        <input type="hidden" name="sort" value="date">
            <button>Сортировать по дате</button>
        </form></h2>
        <h2>
            <form action="/sort-book" method="post">
         {% csrf_token %}
        <input type="hidden" name="sort" value=price>
            <button>Сортировать по цене</button>
        </form>
        </h2>
        <h2>
            <form action="/sort-book" method="post">
         {% csrf_token %}
        <input type="hidden" name="sort" value="tit_asc">
            <button>Сортировать по названию от А-Я</button>
        </form>
        </h2>
        <h2>
            <form action="/sort-book" method="post">
         {% csrf_token %}
        <input type="hidden" name="sort" value="tit_desc">
            <button>Сортировать по названию от Я-А</button>
        </form>
        </h2>
         <h2>
            <form action="/sort-book" method="post">
         {% csrf_token %}
        <input type="hidden" name="sort" value="pages">
            <button>Сортировать по кол-ву страниц</button>
        </form>
        </h2>
         <h2>
            <form action="/sort-book" method="post">
         {% csrf_token %}
        <input type="hidden" name="sort" value="count">
            <button>Сортировать по кол-ву</button>
        </form>
        </h2>
    </nav>
<table>
  <tr>
    <th>Название книги</th>
    <th>Кол-во страниц</th>
    <th>Цена</th>
    <th>Автор</th>
    <th>Жанры</th>
    <th>Кол-во</th>
    <th>Дата публикации</th>
  </tr>
  {% for book in books %}
  <tr>
   <td>{{ book.title }}</td>
    <td>{{ book.total_pages }}</td>
    <td>{{ book.price }}</td>
    <td>
        {% for author in book.authors.all %}
        {{author.first_name}} {{author.middle_name}} {{author.last_name}}
        {% endfor %}
    </td>
    <td>
        {% for genre in book.genres.all %}
        {{genre.genre}}
        {% endfor %}
    </td>
    <td>{{ book.count }}</td>
    <td>{{ book.publish_date }}</td>
    <td>   <form action="" method="post">
         {% csrf_token %}
        <input type="hidden" name="book_id" value={{book.id}}>
            <button>Удалить</button>
        </form></td>
  </tr>
  {% endfor %}
</table>

</body>
{% endblock %}